@font-face {
  font-family: 'Prompt-Black';
  font-display: swap;
  src: url('../fonts/Prompt-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-BlackItalic';
  font-display: swap;
  src: url('../fonts/Prompt-BlackItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Bold';
  font-display: swap;
  src: url('../fonts/Prompt-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-BoldItalic';
  font-display: swap;
  src: url('../fonts/Prompt-BoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-ExtraBold';
  font-display: swap;
  src: url('../fonts/Prompt-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-ExtraBoldItalic';
  font-display: swap;
  src: url('../fonts/Prompt-ExtraBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-ExtraLight';
  font-display: swap;
  src: url('../fonts/Prompt-ExtraLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-ExtraLightItalic';
  font-display: swap;
  src: url('../fonts/Prompt-ExtraLightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Italic';
  font-display: swap;
  src: url('../fonts/Prompt-Italic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Light';
  font-display: swap;
  src: url('../fonts/Prompt-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-LightItalic';
  font-display: swap;
  src: url('../fonts/Prompt-LightItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Medium';
  font-display: swap;
  src: url('../fonts/Prompt-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-MediumItalic';
  font-display: swap;
  src: url('../fonts/Prompt-MediumItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Regular';
  font-display: swap;
  src: url('../fonts/Prompt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-SemiBold';
  font-display: swap;
  src: url('../fonts/Prompt-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-SemiBoldItalic';
  font-display: swap;
  src: url('../fonts/Prompt-SemiBoldItalic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-Thin';
  font-display: swap;
  src: url('../fonts/Prompt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt-ThinItalic';
  font-display: swap;
  src: url('../fonts/Prompt-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'Prompt-Light' !important;
}