<template>
  <div class="Education">
    <EducationMe />
  </div>
</template>

<script>
import EducationMe from '@/components/EducationMe.vue'

export default {
  name: 'Education',
  components: {
    EducationMe
  },
  methods: {}
}
</script>
