<template>
  <div class="Experience">
    <ExperienceMe />
  </div>
</template>

<script>
import ExperienceMe from '@/components/ExperienceMe.vue'

export default {
  name: 'Experience',
  components: {
    ExperienceMe
  },
  methods: {}
}
</script>
