<template>
  <div class="home">
    <About />
  </div>
</template>

<script>
import About from '@/components/About.vue'

export default {
  name: 'home',
  components: {
    About
  },
  methods: {}
}
</script>
