<template>
  <div class="Skills">
    <SkillsMe />
  </div>
</template>

<script>
import SkillsMe from '@/components/SkillsMe.vue'

export default {
  name: 'Skills',
  components: {
    SkillsMe
  },
  methods: {}
}
</script>
