<template>
  <div id="About">
    <div id="nameBox">
      <label class="first">Abbas</label>
      <label class="last">Khan</label>
    </div>
    <div id="aboutBox">
      <div class="row">
        <div class="col-md-2">
          <label class="text-header">Email:</label>
        </div>
        <div class="col-md-10">
          <label class="text">abbasthailand@gmail.com</label>
        </div>
        <div class="col-md-2">
          <label class="text-header">ที่อยู่ปัจจุบัน:</label>
        </div>
        <div class="col-md-10">
          <label class="text">16/34 ซอยสุขาประชาสรรค์ 3 ถนนติวานนท์ ตำบลบางพูด อำเภอปากเกร็ด จังหวัดนนทบุรี 11120</label>
        </div>
        <div class="col-md-2">
          <label class="text-header">LINE:</label>
        </div>
        <div class="col-md-10">
          <label class="text">abbas24</label>
        </div>
        <div class="col-md-2">
          <label class="text-header">Tel:</label>
        </div>
        <div class="col-md-10">
          <label class="text">086-448-5071</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style lang="scss" scoped>
#About {
  #nameBox {
    text-align: left;
    @media screen and (max-width: 768px) {
      .first {
        font-size: 55px;
      }
    }
    @media screen and (min-width: 769px) {
      .first {
        font-size: 85px;
      }
    }
    .first {
      font-weight: bold;
      color: #35495e;
    }
    .last {
      @extend .first;
      margin-left: 35px;
      color: #42b983;
    }
  }
  #aboutBox {
    margin-top: 40px;
    text-align: left;
    .text-header {
      font-size: 25px;
      font-weight: bold;
      color: #42b983;
    }
    .text {
      margin-left: 15px;
      font-size: 25px;
      color: #35495e;
    }
  }
}
</style>
