<template>
  <div id="EducationMe">
    <label id="text-header">EDUCATION</label>
    <div class="row">
      <div class="col-md-8">
        <div>
          <label class="university">SUAN SUNANDHA RAJABHAT UNIVERSITY</label>
        </div>
        <div>
          <label class="science">FACULTY OF MANAGEMENT SCIENCE</label>
        </div>
        <div>
          <label class="detail">ฺBussiness Computer</label>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text">2015</label>
      </div>
      <div class="col-md-8">
        <div>
          <label class="university">SRIAYUDHYA SCHOOL</label>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text">2012</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scope>
#EducationMe {
  text-align: left;
  #text-header {
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
  }
  .col-md-8 {
    text-align: left;
    @media screen and (min-width: 769px) {
      margin-bottom: 55px;
    }
    .university {
      color: #35495e;
      font-size: 22px;
      font-weight: bold;
    }
    .science {
      color: #868e96;
      font-size: 20px;
    }
    .detail {
      margin-top: 10px;
      color: #86a7d0;
      font-size: 18px;
    }
  }
  .col-md-4 {
    color: #42b983;
    text-align: right;
    font-size: 20px;
    @media screen and (max-width: 768px) {
      margin-bottom: 65px;
    }
  }
}
</style>
