<template>
  <div id="ExperienceMe">
    <label id="text-header">EXPERIENCE</label>
    <div class="row">
      <div class="col-md-8">
        <div>
          <label class="position">SENIOR SOFTWARE ENGINEER</label>
        </div>
        <div>
          <label class="company">NGERNTURBO</label>
        </div>
        <div>
          <label class="detail">- พัฒนาทางด้าน Technical ในส่วนของ DevOps โดยใช้เทคโนโลยีทั้งด้าน FrontEnd และ BackEnd
            &nbsp;เพื่อสนับสนุนและลดภาระการ Manual ต่าง ๆ บน Amazon Web Services (AWS) </label>
        </div>
        <div>
          <label class="detail">- Automating infrastructure, monitoring, deployment pipelines ด้วย Jenkins</label>
        </div>
        <div>
          <label class="detail">- ตรวจสอบคุณภาพการ Deploy โดย UnitTest และ Regression Testing</label>
        </div>
        <div>
          <label class="detail">- สนับสนุนการทำงาน Docker บนระบบ AWS</label>
        </div>
        <div>
          <label class="detail">- Technical Support ให้กับทีม FrontEnd และ BackEnd</label>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text">August 2019 - Present</label>
      </div>
      <div class="col-md-8">
        <div>
          <label class="position">SOFTWARE ENGINEER</label>
        </div>
        <div>
          <label class="company">NGERNTURBO</label>
        </div>
        <div>
          <label class="detail">ฺFrontEnd:</label>
        </div>
        <div>
          <label class="detail">- พัฒนาระบบ LOS (Loan Origination System) โดยใช้ VueJs, React ในการพัฒนาระบบ</label>
        </div>
        <div>
          <label class="detail">- Research  เทคนิคและ Library  ใหม่ ๆ ให้ภายในทีมได้ใช้งาน</label>
        </div>
        <div>
          <label class="detail">- ตรวจสอบและควบคุมคุณภาพของ Framework ที่ใช้งานให้เป็นไปในทิศทางเดียวกัน</label>
        </div>
        <div>
          <label class="detail">ฺBackEnd:</label>
        </div>
        <div>
          <label class="detail">- พัฒนาระบบ LOS (Loan Origination System) ในส่วนของ Workflow
            &nbsp;โดยใช้ RestApi ด้วย .Net Core Framework ในการสร้าง Webservice</label>
        </div>
        <div>
          <label class="detail">- ดูแลและควบคุมข้อมูลในส่วนของ Database (PostgreSQL)</label>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text">January 2018 - July 2019</label>
      </div>
      <div class="col-md-8">
        <div>
          <label class="position">PROGRAMMER</label>
        </div>
        <div>
          <label class="company">PIYAVATE HOSPITAL</label>
        </div>
        <div>
          <label class="detail">- สร้างฟอร์มต่าง ๆ ภายในโรงพยาบาล โดยใช้เครื่องมือ iReport ในการพัฒนา</label>
        </div>
        <div>
          <label class="detail">- เขียน SQL Script ในการ Query ดึงข้อมูลต่าง ๆ จาก Database และเขียน Function SQL เพื่อให้ Report Developer ใช้งาน</label>
        </div>
        <div>
          <label class="detail">- เขียน Class Library ต่าง ๆ ขึ้นมาเพื่อช่วยเพิ่มประสิทธิภาพการทำงานของโปรแกรม
            iReport เพื่อให้ Report Developer ใช้งานในส่วนของการดึงข้อมูลที่ซับซ้อน</label>
        </div>
        <div>
          <label class="detail">- สร้างโปรแกรมในรูปแบบ Web App ต่าง ๆ เช่น โปรแกรมการ Match
            รายการยา, ค่าบริการ , เวชภัณฑ์ ภายในเครื่อโรงพยาบาลทั้งหมด
            และโปรแกรมการเบิกค่าสิทธิ์การรักษาต่าง ๆ ภายในเครือ เป็นต้น
          </label>
        </div>
      </div>
      <div class="col-md-4">
        <label class="text">April 2016 - December 2017</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scope>
#ExperienceMe {
  text-align: left;
  #text-header {
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
  }
  .col-md-8 {
    text-align: left;
    @media screen and (min-width: 769px) {
      margin-bottom: 55px;
    }
    .position {
      color: #35495e;
      font-size: 22px;
      font-weight: bold;
    }
    .company {
      color: #868e96;
      font-size: 20px;
    }
    .detail {
      margin-top: 10px;
      color: #86a7d0;
      font-size: 18px;
    }
  }
  .col-md-4 {
    color: #42b983;
    text-align: right;
    font-size: 20px;
    @media screen and (max-width: 768px) {
      margin-bottom: 65px;
    }
  }
}
</style>
