<template>
  <div id="MenuBox">
    <div class="image-cropper">
      <img src="@/assets/image/abbas.jpg" alt="avatar" class="profile-pic" />
    </div>
    <div id="menuBoxCard">
      <div>
        <label class="text" @click="emitToLink('/')">ABOUT</label>
      </div>
      <div>
        <label class="text" @click="emitToLink('/experience')">EXPERIENCE</label>
      </div>
      <div>
        <label class="text" @click="emitToLink('/education')">EDUCATION</label>
      </div>
      <div>
        <label class="text" @click="emitToLink('/skills')">SKILLS</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuBox',
  methods: {
    emitToLink(e) {
      this.$emit('gotolink', e)
    }
  }
}
</script>

<style lang="scss" scope>
#MenuBox {
  .image-cropper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    width: 10rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5rem solid #35495e;
    @media screen and (max-width: 768px) {
      margin-top: 80px;
    }
    .profile-pic {
      margin: 0 auto;
      margin-left: -35%; //centers the image
      height: 100%;
      width: auto;
    }
  }
  #menuBoxCard {
    margin-top: 25px;
    .text {
      color: #35495e;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px;
      &:hover {
        cursor: pointer;
        color: aliceblue;
      }
    }
  }
}
</style>
