<template>
  <nav id="navBar">
    <div id="navDesktop">
      <MenuBox @gotolink="goToLink" />
    </div>
    <div id="navMobile">
      <div id="Bar">
        <i @click="openNav()" class="fa fa-bars" aria-hidden="true"></i>
      </div>
      <div id="myModal" ref="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-body">
            <MenuBox @gotolink="goToLink" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import MenuBox from '@/components/MenuBox.vue'

export default {
  name: 'NavBar',
  components: {
    MenuBox
  },
  mounted() {
    const vm = this
    const touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click'
    window.addEventListener(touchEvent, event => {
      vm.target = event.target
      vm.myModal = vm.$refs.myModal
      if (event.target === vm.$refs.myModal) {
        vm.$refs.myModal.style.display = 'none'
      }
    })
  },
  methods: {
    openNav() {
      this.$refs.myModal.style.display = 'block'
    },
    goToLink(value) {
      if (this.$route.path !== value) {
        this.$refs.myModal.style.display = 'none'
        this.$router.push({ path: value })
      }
    }
  }
}
</script>

<style lang="scss" scope>
#navBar {
  #navDesktop {
    background-color: #42b983;
    border-right: 2px solid #35495e;
    height: 100vh;
    width: 17rem;
    top: 0;
    left: 0;
    position: fixed;
  }

  #navMobile {
    #Bar {
      z-index: 3;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      height: 62px;
      background-color: #42b983;
      border-bottom: 2px solid #35495e;
      text-align: left;
      .fa {
        padding-top: 8px;
        padding-left: 15px;
        font-size: 40px;
      }
    }

    #myModal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s;

      .modal-content {
        border-right: 2px solid #35495e;
        z-index: 3;
        position: fixed;
        top: 0;
        background-color: #42b983;
        width: 70vw;
        height: 100%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
      }

      @-webkit-keyframes slideIn {
        from {
          left: -300px;
          opacity: 0;
        }

        to {
          left: 0;
          opacity: 1;
        }
      }

      @keyframes slideIn {
        from {
          left: -300px;
          opacity: 0;
        }

        to {
          left: 0;
          opacity: 1;
        }
      }

      @-webkit-keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #navDesktop {
      display: none;
    }
    #navMobile {
      display: block;
    }
  }
  @media screen and (min-width: 769px) {
    #navDesktop {
      display: block;
    }
    #navMobile {
      display: none;
    }
  }
}
</style>
