<template>
  <div id="SkillMe">
    <label id="text-header">SKILLS</label>
    <div class="skill-box">
      <label class="text-header">DevOps</label>
      <div class="skill-card">
        <label v-for="(value, i) in devOps" :key="i"
        class="text-skill">{{ i === 0 ? value : `, ${value}` }}</label>
      </div>
    </div>
    <div class="skill-box">
      <label class="text-header">Front End</label>
      <div class="skill-card">
        <label v-for="(value, i) in fronEnd" :key="i"
        class="text-skill">{{ i === 0 ? value : `, ${value}` }}</label>
      </div>
    </div>
    <div class="skill-box">
      <label class="text-header">Back End</label>
      <div class="skill-card">
        <label v-for="(value, i) in backEnd" :key="i"
        class="text-skill">{{ i === 0 ? value : `, ${value}` }}</label>
      </div>
    </div>
    <div class="skill-box">
      <label class="text-header">Database</label>
      <div class="skill-card">
        <label v-for="(value, i) in database" :key="i"
        class="text-skill">{{ i === 0 ? value : `, ${value}` }}</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fronEnd: ['VueJs', 'Nuxt.js', 'React', 'Next.js', 'Gatsby', 'Angular', 'CSS', 'SASS/SCSS'],
      backEnd: ['Node.js', 'Golang', '.Net Core', 'Spring Boot: [Java, Kotlin]', 'Python', 'Bash', 'Groovy'],
      devOps: ['GitLab', 'GitHub', 'Bitbucket', 'Jenkins', 'Grafana', 'Docker', '[AWS]: EC2', '[AWS]: ECS', '[AWS]: Lambda', '[AWS]: Batch',
        '[AWS]: S3', '[AWS]: RDS', '[AWS]: DynamoDB', '[AWS]: CloudFront', '[AWS]: Route 53',
        '[AWS]: API Gateway', '[AWS]: CloudWatch', '[AWS]: Athena'],
      database: ['PostgreSQL', 'MySQL', 'MongoDB', 'Elasticsearch']
    }
  }
}
</script>

<style lang="scss" scope>
#SkillMe {
  text-align: left;
  #text-header {
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
  }
  .skill-box {
    text-align: left;
    .text-header {
      color: #35495e;
      font-size: 35px;
      font-weight: bold;
    }
    .skill-card {
      margin-bottom: 35px;
      .text-skill {
        color: #42b983;
        font-size: 22px;
      }
    }
  }
}
</style>
