<template>
  <div id="app">
    <NavBar />
    <div id="routerBody">
      <router-view />
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar.vue'

export default {
  components: {
    NavBar,
  },
}
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  #routerBody {
    display: block;
    margin-top: 85px;
    width: 100%;
    padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
    #routerBody {
      padding-left: 15px;
    }
  }
  @media screen and (min-width: 769px) {
    #routerBody {
      padding-left: 20rem;
    }
  }
}
</style>
